fastapi
uvicorn
pydantic
langdetect
langchain==0.1.20
langchain-community==0.0.38
langchain-groq
langchain-huggingface
faiss-cpu
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.4.1+cpu
transformers<5.0.0
sentence-transformers
requests