fastapi
uvicorn
pydantic
langdetect
langchain>=0.3.0
langchain-community
langchain-groq
langchain-huggingface
faiss-cpu
--extra-index-url https://download.pytorch.org/whl/cpu
torch
sentence-transformers
requests